# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IDE files
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Build output
/build/

# Android Studio & Gradle build artifacts
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle
/android/captures
local.properties

# Native CMake, C++ build & Large AI Model Weights
.cxx/
.externalNativeBuild/
models/
*.onnx
*.gguf
*.so
*.apk
